*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

.container{
    width: 1140px;
    margin: 0 auto;

}

.header{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    &__left{
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 605px;
    }
    &__search>form{
        display: flex;
    }
    &__search>form>input[type="search"]{
        width: 280px;
        height: 38px;
        border-radius: 0 3px 3px 0;
        border: 1px solid #e6e6e6;
        background-color: #ffffff;
    }
    &__search>form>button{
        width: 38px;
        height: 38px;
        background: url(../images/search.png) no-repeat center;
        border-radius: 0 3px 3px 0;
        border: 1px solid #e6e6e6;
        background-color: #ffffff;
    }
    &__right{
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 198px;
    }
    &__account{
        width: 130px;
        height: 38px;
        background-color: #f16d7f;
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 32px;
        text-align: center;
        font-style: normal;
        letter-spacing: 0.38px;
        line-height: normal;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    &__drop-down{
        width: 87px;
        height: 38px;
        text-align: center;
        line-height: 32px;
        border-radius: 3px 0 0 3px;
        border: 1px solid #e6e6e6;
        background-color: #cdcdcc;
        background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    }
}

.drop-down{
    &__menu{
        z-index: 10;
        position: absolute;
        width: 262px;
        border-radius: 5px;
        background-color: #ffffff;
    }
    &__title{
        margin: 19px auto  27px 15px;
        color: #232323;
        font-size: 14px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 0.35px;
        line-height: normal;
    }
    &__link{
        margin-left: 20px;
        text-align: left;
        &>li>a{
        color: #4e4e4e;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.35px;
        line-height: normal;
        }
    }
}

summary{
    display: block;
}

.nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 680px;
    &__link{
        color: #222222;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 26px;
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        
    }
    &__list{
        position: relative;
        padding-top: 19px;
        padding-bottom: 22px;
        padding-left: 20px;
        &:hover .mega-menu{
            display: flex;
        }
    }
}

.mega-menu{
    display: none;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    background-color: #ffffff;
    top: 50px;
    &::before{
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid #e8e8e8;
        transform: rotate(45deg);
        top: -8px;
        left: 15px;
        position: absolute;
        background-color: #fff;
        z-index: -1;
    }
    
    &__item{
        padding:0 20px 20px 20px;
    }
    &__heading{
        width: 235px;
        color: #232323;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 0.35px;
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 8px;
        margin-bottom: 15px;
    }
    &__link{
        display: block;
        color: #646464;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        letter-spacing: 0.35px;
    }
    
    &__img{
        position: absolute;
        top: 196px;
        right: 15px;
    }
    &__sale{
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        text-transform: uppercase;
        width: 71px;
        position: absolute;
        top: 61px;
        right: -2px;
        z-index: 10;
    }


}

.position-right{
    position: absolute;
    top: 50px;
    right: -9px;
    &::before{
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid #e8e8e8;
        transform: rotate(45deg);
        top: -8px;
        left: 771px;
        position: absolute;
        background-color: #fff;
    }
}

.fashion{
    background-color: #e8e8e8;
    width: 100%;
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/man.png);
    background-position-y: -51px;
    height: 665px;
    position: relative;
    &__text{
        width: 485px;
        color: #222222;
        font-size: 40px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-transform: uppercase;
        position: absolute;
        left: 20px;
        >h2{
            font-size: 60px;
            letter-spacing: 1.5px;
        }
        >p{
            font-style: normal;
            letter-spacing: 1px;
            line-height: normal;
            >mark{
                color: #f16d7f;
                background-color: #e8e8e8;
            }
        }
        
    }
    
}

.wrap::before{
    content: "";
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
}

.offer{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &__right{
        &-1>a>img{
            padding-bottom: 20px;
        }
        
    }
    &__left{
        &-2>a>img{
            padding-bottom: 20px;
        }
        
    }
    &__text{
        color: #222222;
        font-size: 18px;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 0.45px;
        line-height: normal;
        font-weight: 700;
        background-color: #ffffff;

        >mark{
            color: #f16d7f;
            font-size: 30px;
            font-style: normal;
            letter-spacing: 0.75px;
            line-height: normal;
            background-color: #ffffff;
        }
    }
}


.top120{
    position: absolute;
    top: 120px;
}
.top685{
    position: absolute;
    top: 685px;
}
.top406{
    position: absolute;
    top: 406px;
}
.left580{
    position: absolute;
    left: 580px;
}

.fetured{
    >h3{
        color: #222222;
        font-size: 30px;
        font-weight: 700;
        line-height: 54px;
        text-align: center;
        letter-spacing: 0.75px;
    }
    >p{
        color: #9f9f9f;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.35px;
        padding-bottom: 60px;
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 32px;
        &-text{
            color: #222222;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            text-transform: uppercase;
            padding-top: 19px;
            >mark{
                display: block;
                background-color: #fff;
                color: #f16d7f;
                font-size: 16px;
                font-weight: 700;
                line-height: normal;
                text-align: left;
                text-transform: uppercase;
                padding-top: 19px;
                padding-bottom: 20px;
            }
        }
    }
    &__link{
        padding: 18px 43px 19px 24px;
        align-items: center;
        background-color: #f16d7f;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.4px;
        position: relative;
        &-center{
            display: flex;
            justify-content: center;
            padding-top: 40px;
            padding-bottom: 113px;
        }
        >img{
            position: absolute;
            top: 25px;
            left: 171px;        }
    }
}