@charset "UTF-8";
/* общие стили */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

p, ol, ul, li, h1, h2, h3, h4, h5, h6, nav {
  margin: 0;
  padding: 0;
}

tbody, td, tfoot, th, thead, tr {
  border: none;
  padding: 0;
  margin: 0;
}

input:focus-visible, button:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #f16d7f;
}

a.fetured__link:hover {
  background-color: #fff;
  color: #f16d7f;
}

li {
  list-style-type: none;
}

/* центрирование контейнера */
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
}

/* стили  header*/
.logo {
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 37px;
}

.logo:hover {
  color: #222;
}

.logo > img {
  margin-right: 13px;
}

.logo > mark {
  color: #f16d7f;
  font-weight: 400;
  letter-spacing: 0.68px;
  background-color: #fff;
}

.header {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 605px;
}

.header__search > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search > form > input[type="search"] {
  width: 280px;
  height: 38px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding-left: 16px;
}

.header__search > form > button {
  width: 38px;
  height: 38px;
  background: url(../images/search.png) no-repeat center;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 198px;
}

.header__account {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.38px;
  line-height: normal;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__drop-down {
  width: 87px;
  height: 38px;
  text-align: center;
  line-height: 32px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

.cart__down {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  padding: 21px 15px 20px 17px;
}

.cart__down-price {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__down-chek {
  display: block;
  padding: 19px 74px;
  border-radius: 5px;
  background-color: #f16d7f;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 30px;
  border: 1px solid #f16d7f;
}

.cart__down-chek:hover {
  border: 1px solid #f16d7f;
  background-color: #ffffff;
  color: #f16d7f;
}

.cart__down-go {
  display: block;
  padding: 20px 72px 18px 71px;
  border: 1px solid #f16d7f;
  background-color: #f16d7f;
  color: #fff;
  border-radius: 5px;
}

.cart__down-go:hover {
  border: 1px solid #f16d7f;
  background-color: #ffffff;
  color: #f16d7f;
}

.cart__down-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
}

.drop-down__menu {
  z-index: 10;
  position: absolute;
  width: 262px;
  border-radius: 5px;
  background-color: #ffffff;
}

.drop-down__title {
  margin: 19px auto  27px 15px;
  color: #232323;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: normal;
}

.drop-down__link {
  margin-left: 20px;
  text-align: left;
}

.drop-down__link > li > a {
  color: #4e4e4e;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: normal;
  display: block;
  padding-top: 14px;
}

.drop-down__link > li > a:hover {
  color: #f16d7f;
}

summary {
  display: block;
  cursor: pointer;
}

/* стили для секции nav */
.nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 680px;
}

.nav__link {
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.nav__list {
  position: relative;
  padding-top: 19px;
  padding-bottom: 22px;
  padding-left: 20px;
}

.nav__list:hover .mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mega-menu {
  display: none;
  position: absolute;
  z-index: 10;
  border-radius: 5px;
  background-color: #ffffff;
  top: 50px;
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
}

.mega-menu::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -8px;
  left: 15px;
  position: absolute;
  background-color: #fff;
  z-index: -1;
}

.mega-menu__item {
  padding: 0 20px 20px 20px;
}

.mega-menu__heading {
  width: 235px;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.mega-menu__link {
  display: block;
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.35px;
}

.mega-menu__img {
  position: absolute;
  top: 196px;
  right: 15px;
}

.mega-menu__sale {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  width: 71px;
  position: absolute;
  top: 61px;
  right: -2px;
  z-index: 10;
}

.position-right {
  position: absolute;
  top: 50px;
  right: -9px;
}

.position-right::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -8px;
  right: 25px;
  left: auto;
  position: absolute;
  background-color: #fff;
}

/* стили для секции fashion */
.fashion {
  background-color: #e8e8e8;
  width: 100%;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/man.png);
  background-position-y: -51px;
  height: 665px;
  position: relative;
}

.wrap__text {
  width: 500px;
  color: #222222;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  left: 20px;
}

.wrap__text > h2 {
  font-size: 60px;
  letter-spacing: 1.5px;
}

.wrap__text > p {
  font-style: normal;
  letter-spacing: 1px;
  line-height: normal;
}

.wrap__text > p > mark {
  color: #f16d7f;
  background-color: #e8e8e8;
}

.wrap::before {
  content: "";
  width: 12px;
  height: 100px;
  background-color: #f16d7f;
}

/* стили для секции offer */
.offer {
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.offer__right-1 > a > img {
  padding-bottom: 20px;
}

.offer__left-2 > a > img {
  padding-bottom: 20px;
}

.offer__text {
  color: #222222;
  font-size: 18px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.45px;
  line-height: normal;
  font-weight: 700;
  background-color: #ffffff;
}

.offer__text > span {
  color: #f16d7f;
  font-size: 30px;
  font-style: normal;
  letter-spacing: 0.75px;
  line-height: normal;
}

.top120 {
  position: absolute;
  top: 120px;
}

.top685 {
  position: absolute;
  top: 685px;
}

.top406 {
  position: absolute;
  top: 406px;
}

.left580 {
  position: absolute;
  left: 580px;
}

/* стили для секции fetured */
.fetured > h3 {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.75px;
}

.fetured > p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.35px;
  padding-bottom: 60px;
}

.fetured__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 32px;
}

.fetured__grid-img > img {
  width: 100%;
}

.fetured__grid-items {
  position: relative;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.fetured__grid-text {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  padding-top: 19px;
  padding-left: 5px;
}

.fetured__grid-text > mark {
  display: block;
  background-color: #fff;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  padding-top: 19px;
  padding-bottom: 20px;
}

.fetured__grid-add {
  display: none;
  border: 1px solid #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fetured__grid-add-text {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  margin-left: 10px;
}

.fetured__link {
  padding: 18px 43px 19px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.4px;
  position: relative;
}

.fetured__link-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 113px;
}

.fetured__link > img {
  position: absolute;
  top: 25px;
  left: 171px;
}

.add__box {
  position: absolute;
  top: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.fetured__grid-items:hover .fetured__grid-img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.fetured__grid-items:hover .fetured__grid-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fetured__grid-add:hover {
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
}

/* стили для секции banner */
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}

.banner__heading {
  position: relative;
}

.banner__heading-text {
  position: absolute;
  top: 146px;
  left: 39px;
}

.banner__heading-text > h3 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.banner__heading-text > h3 > span {
  color: #f16d7f;
  letter-spacing: 1.5px;
}

.banner__heading-text > p {
  font-size: 32px;
  font-style: normal;
  letter-spacing: 0.9px;
  line-height: normal;
  color: #ffffff;
  font-weight: 700;
}

.banner__offers {
  background-color: #222224;
  height: 529px;
  padding: 48px 0 0 36px;
}

.banner__offers-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 43px;
}

.banner__offers-item__icon {
  padding-right: 33px;
}

.banner__offers-item__text > h4 {
  padding-bottom: 17px;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.5px;
}

.banner__offers-item__text > p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.flex-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
}

.slider-wrapper {
  width: 100%;
  height: auto;
}

#btn-prev, #btn-next {
  cursor: pointer;
  font-size: 31px;
  width: 47px;
  text-align: center;
  color: #fff;
  background-color: #d8d8d8;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
}

.slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* стили для секции subfooter */
.subfooter {
  background: url(../images/footer-back.png) no-repeat center;
  background-size: 100% 438px;
  padding-bottom: 100px;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 110px;
  padding-bottom: 156px;
}

.comment__mention-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 498px;
}

.comment__mention-text {
  width: 386px;
}

.comment__mention-text > .review-text {
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  text-align: left;
  letter-spacing: 0.4px;
}

.comment__mention-text > .signa {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.4px;
  line-height: 26px;
}

.comment__mention-text > .signa > span {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}

.comment__mention-face {
  margin-right: 28px;
}

.comment__subscribe {
  padding-top: 37px;
}

.comment__subscribe > h3 {
  color: #222224;
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 54px;
  text-transform: uppercase;
}

.comment__subscribe > p {
  letter-spacing: 0.35px;
  line-height: 24px;
  font-size: 14px;
  color: #222224;
  font-weight: 700;
  text-align: center;
}

.comment__subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

.comment__subscribe-form > button {
  background-color: #f16d7f;
  border: none;
  border-radius: 0 23px 23px 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.35px;
  padding: 10px 20px;
}

.comment__subscribe-input {
  height: 46px;
  border-radius: 23px 0 0 23px;
  border: none;
  background-color: #e1e1e1;
  padding: 18px 75px 18px 28px;
}

.carousel-indicators [data-bs-target] {
  background-color: #f16d7f;
}

.comment__subscribe-form > button:hover {
  background-color: #fff;
  color: #f16d7f;
  cursor: pointer;
}

/* стили для секции footer */
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 90px;
}

.footer__info-item > ul > li > a {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 49px;
  letter-spacing: 0.4px;
  display: block;
}

.footer__info-item > ul > li > a:hover {
  color: #f16d7f;
}

.footer__info-heading, .footer__info-heading > a {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 59px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

.footer__info-logo > h4 {
  padding-bottom: 29px;
}

.footer__info-logo > p {
  width: 427px;
  height: 225px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  display: block;
  overflow: scroll;
}

.footer__rights {
  background-color: #e6e6e6;
}

.footer__rights-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__rights-text {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.4px;
}

.footer__rights-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__rights-social > a {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-right: 8px;
  text-align: center;
  padding-top: 5px;
}

.footer__rights-social > a > i {
  color: #b2b2b2;
}

.footer__rights-social > a:hover i {
  color: #ffffff;
}

.footer__rights-social > a:hover {
  background-color: #f16d7f;
}

.footer__info-logo > p::-webkit-scrollbar {
  display: none;
}

/* стили для секции crumb checkout */
.crumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb__heading {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.breadcrumb-item > a {
  font-size: 14px;
  text-transform: uppercase;
  color: #636363;
  font-weight: 300;
}

.breadcrumb-item.active {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

/* стили для секции acc checkout */
.acc {
  padding-top: 90px;
}

.accordion-button {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.accordion-item {
  border: 1px solid #e8e8e8;
  padding-top: 23px;
  padding-bottom: 23px;
}

.accordion-button:not(.collapsed) {
  color: #222;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #222;
  outline: 0;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.accordion-button:hover {
  color: #f16d7f;
}

.accordion-button::after {
  display: none;
}

.accordion-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login__checkout-heading {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.login__checkout-text {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px;
}

.login__checkout-btn {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.login__checkout-link {
  color: #222;
  margin-left: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.btn-guest {
  padding: 19px 53px;
}

.btn-login {
  padding: 19px 81px 19px 51px;
}

.red {
  margin-top: 14px;
  color: red;
}

.login__checkout-password > input {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-bottom: 23px;
}

.login__checkout-password > label {
  margin-bottom: 15px;
}

.login__checkout-email > input {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-bottom: 23px;
}

.login__checkout-email > label {
  margin-bottom: 15px;
}

.login__checkout-btn:hover {
  color: #f16d7f;
}

.form-check-input:checked {
  background-color: #000;
  border-color: #000;
}

.form-check-input:focus {
  border-color: #000;
  outline: 0;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

label > em {
  color: red;
}

/* стили для single.html */
.single {
  width: 618px;
}

.single__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -21px;
}

.single__top-img {
  margin-bottom: 29px;
}

.single__top-link {
  margin-bottom: 14px;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.single__top-line::before {
  content: "";
  display: block;
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
  margin-bottom: 17px;
}

.single__top-heading {
  margin-bottom: 67px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.single__top-text {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 28px;
}

.single__top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 37px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single__top-info span {
  color: #2f2f2f;
}

.single__top-info-flex:nth-child(1) {
  margin-right: 44px;
}

.single__top-price {
  margin-bottom: 100px;
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.single__top-form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 537px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single__top-form-item > label {
  color: #2f2f2f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.single__top-btn {
  margin-top: 28px;
  margin-bottom: 122px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 206px;
}

.single__top-btn > i {
  margin-right: 15px;
}

.single__bottom {
  margin-bottom: 70px;
}

.single__bottom-heading {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.form-select:focus {
  border-color: #eaeaea;
  outline: 0;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.form-select {
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

/* стили для product.html */
.dropdown {
  width: 243px;
  position: absolute;
}

.dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 15px;
}

.dropdown__item-summary {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 37px;
}

.dropdown__item-link {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.dropdown__item-block > ul {
  padding-left: 17px;
}

.dropdown__item-list {
  padding-top: 20px;
}

details:hover .dropdown__item-summary {
  color: #f16d7f;
}

.dropdown__item-summary::before {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background-color: #ef5b70;
  margin-right: 16px;
}

.product {
  position: relative;
}

.product__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 288px;
}

.top-filter {
  width: 848px;
}

.top-filter > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-filter__heading {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-top: 10px;
}

.top-filter__link {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  padding-right: 25px;
}

.top-filter__checkbox {
  width: 236px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-filter__checkbox > label {
  color: #6f6e6e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.top-filter__checkbox > label > input {
  width: 13px;
  height: 13px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}

.top-filter__sort {
  position: absolute;
  top: 121px;
  left: 290px;
}

.top-filter__sort > label, .top-filter__sort > select {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  border: none;
  background-color: #fff;
  margin-right: 20px;
}

.top-filter__sort > select {
  cursor: pointer;
}

.top-filter__link:last-of-type {
  padding-right: 0;
}

.product__grid {
  -ms-grid-columns: (263px)[3];
      grid-template-columns: repeat(3, 263px);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 114px;
  margin-bottom: 43px;
}

.product__nav {
  margin-left: 287px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination {
  width: 261px;
}

.page-link {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  border: none;
  padding: 0 16px 0 0;
}

.page-link:hover {
  color: #ef5b70;
  background-color: #fff;
  border-color: #fff;
}

.page-link-active {
  color: #ef5b70;
}

.page-link-active:hover {
  color: #c4c4c4;
}

.page-link:focus {
  z-index: 3;
  color: #ef5b70;
  background-color: #e9ecef;
  outline: 0;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.product__nav-link {
  color: #ef5b70;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 45px;
  border-radius: 3px;
  border: 1px solid #ef5b70;
}

.product__nav-link:hover {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 45px;
  border-radius: 3px;
  border: 1px solid #fff;
  background-color: #ef5b70;
}

.black {
  background-color: #222224;
  margin-top: 100px;
}

.black__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
  padding-bottom: 114px;
}

.black__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 309px;
}

.black__item-heading {
  margin-top: 32px;
  margin-bottom: 17px;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
}

.black__item-text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

/* cart.html */
.table > :not(caption) > * > * {
  padding: 0;
  margin: 0;
}

.table {
  margin-top: 90px;
  margin-bottom: 70px;
}

.table > thead {
  border-bottom: 1px solid #eaeaea;
}

.table > thead th {
  padding-bottom: 20px;
  color: #222222;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

.table > tbody {
  border-bottom: 1px solid #eaeaea;
}

.table > tbody td {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
}

.table > tbody img {
  padding-right: 20px;
}

.table > tbody h5 {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.table > tbody p {
  font-size: 13px;
  line-height: 20px;
  color: #575757;
  font-weight: 400;
  text-transform: capitalize;
}

.table > tbody span {
  font-weight: 300;
  font-size: 13px;
  color: #6f6e6e;
}

.table > tbody i {
  color: #c0c0c0;
}

.td-1 {
  width: 100px;
}

.td-2 {
  width: 392px;
}

.td-center {
  text-align: center;
  line-height: 80px;
}

.cart__btn-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 63px;
}

.cart__btn {
  color: #fff;
  background-color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #eaeaea;
  padding: 20px 38px;
}

.cart__btn:hover {
  background-color: #ffffff;
  color: #4a4a4a;
}

.cart__form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__form-flex input {
  padding: 17px 0 17px 17px;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  border: 1px solid #eaeaea;
  width: 355px;
  cursor: pointer;
  margin-bottom: 20px;
}

.cart__form-flex h4 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.cart__form-flex p {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 24px;
}

.cart__form-flex button {
  color: #fff;
  background-color: #f16d7f;
  font-size: 11px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  padding: 12px 15px;
  border: 1px solid #eaeaea;
}

.cart__form-total h4 {
  text-align: right;
}

.cart__form-total p {
  text-align: right;
  padding-top: 40px;
  padding-bottom: 14px;
}

.cart__form-total hr {
  color: #e2e2e2;
  margin: 0 0 17px 0;
  background-color: currentColor;
  border: 0;
  opacity: 1;
}

.cart__form-total button {
  padding: 19px 42px;
  font-size: 16px;
}

.cart__form-flex button:hover {
  color: #4a4a4a;
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */