*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    width: 1140px;
    margin: 0 auto;

}

.header{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    &__left{
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 605px;
    }
    &__search>form{
        display: flex;
    }
    &__search>form>input[type="search"]{
        width: 280px;
        height: 38px;
        border-radius: 0 3px 3px 0;
        border: 1px solid #e6e6e6;
        background-color: #ffffff;
    }
    &__search>form>button{
        width: 38px;
        height: 38px;
        background: url(../images/search.png) no-repeat center;
        border-radius: 0 3px 3px 0;
        border: 1px solid #e6e6e6;
        background-color: #ffffff;
    }
    &__right{
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 198px;
    }
    &__account{
        width: 130px;
        height: 38px;
        background-color: #f16d7f;
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 32px;
        text-align: center;
        font-style: normal;
        letter-spacing: 0.38px;
        line-height: normal;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        }
}

summary{
    display: block;
}



.nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 19px;
    padding-bottom: 22px;
    width: 680px;
    &__link{
        color: #222222;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 26px;
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }
}

.fashion{
    background-color: #e8e8e8;
    width: 100%;
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/man.png);
    background-position-y: -51px;
    height: 665px;
    position: relative;
    &__text{
        width: 485px;
        color: #222222;
        font-size: 40px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-transform: uppercase;
        position: absolute;
        left: 20px;
        >h2{
            font-size: 60px;
            letter-spacing: 1.5px;
        }
        >p{
            font-style: normal;
            letter-spacing: 1px;
            line-height: normal;
            >mark{
                color: #f16d7f;
                background-color: #e8e8e8;
            }
        }
        
    }
    
}

.wrap::before{
    content: "";
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
}

.offer{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &__right{
        &-1>a>img{
            padding-bottom: 20px;
        }
        
    }
    &__left{
        &-2>a>img{
            padding-bottom: 20px;
        }
        
    }
    &__text{
        color: #222222;
        font-size: 18px;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 0.45px;
        line-height: normal;
        font-weight: 700;
        background-color: #ffffff;

        >mark{
            color: #f16d7f;
            font-size: 30px;
            font-style: normal;
            letter-spacing: 0.75px;
            line-height: normal;
            background-color: #ffffff;
        }
    }
}


.top120{
    position: absolute;
    top: 120px;
}
.top685{
    position: absolute;
    top: 685px;
}
.top406{
    position: absolute;
    top: 406px;
}
.left580{
    position: absolute;
    left: 580px;
}