* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 605px;
}

.header__search > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search > form > input[type="search"] {
  width: 280px;
  height: 38px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
}

.header__search > form > button {
  width: 38px;
  height: 38px;
  background: url(../images/search.png) no-repeat center;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 198px;
}

.header__account {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.38px;
  line-height: normal;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__drop-down {
  width: 87px;
  height: 38px;
  text-align: center;
  line-height: 32px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

.drop-down__menu {
  z-index: 10;
  position: absolute;
  width: 262px;
  border-radius: 5px;
  background-color: #ffffff;
}

.drop-down__title {
  margin: 19px auto  27px 15px;
  color: #232323;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: normal;
}

.drop-down__link {
  margin-left: 20px;
  text-align: left;
}

.drop-down__link > li > a {
  color: #4e4e4e;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: normal;
}

summary {
  display: block;
}

.nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 680px;
}

.nav__link {
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.nav__list {
  position: relative;
  padding-top: 19px;
  padding-bottom: 22px;
  padding-left: 20px;
}

.nav__list:hover .mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mega-menu {
  display: none;
  position: absolute;
  z-index: 10;
  border-radius: 5px;
  background-color: #ffffff;
  top: 50px;
}

.mega-menu::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #e8e8e8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -8px;
  left: 15px;
  position: absolute;
  background-color: #fff;
  z-index: -1;
}

.mega-menu__item {
  padding: 0 20px 20px 20px;
}

.mega-menu__heading {
  width: 235px;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.mega-menu__link {
  display: block;
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.35px;
}

.mega-menu__img {
  position: absolute;
  top: 196px;
  right: 15px;
}

.mega-menu__sale {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  width: 71px;
  position: absolute;
  top: 61px;
  right: -2px;
  z-index: 10;
}

.position-right {
  position: absolute;
  top: 50px;
  right: -9px;
}

.position-right::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #e8e8e8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -8px;
  left: 771px;
  position: absolute;
  background-color: #fff;
}

.fashion {
  background-color: #e8e8e8;
  width: 100%;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/man.png);
  background-position-y: -51px;
  height: 665px;
  position: relative;
}

.wrap__text {
  width: 485px;
  color: #222222;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  left: 20px;
}

.wrap__text > h2 {
  font-size: 60px;
  letter-spacing: 1.5px;
}

.wrap__text > p {
  font-style: normal;
  letter-spacing: 1px;
  line-height: normal;
}

.wrap__text > p > mark {
  color: #f16d7f;
  background-color: #e8e8e8;
}

.wrap::before {
  content: "";
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
}

.offer {
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.offer__right-1 > a > img {
  padding-bottom: 20px;
}

.offer__left-2 > a > img {
  padding-bottom: 20px;
}

.offer__text {
  color: #222222;
  font-size: 18px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.45px;
  line-height: normal;
  font-weight: 700;
  background-color: #ffffff;
}

.offer__text > mark {
  color: #f16d7f;
  font-size: 30px;
  font-style: normal;
  letter-spacing: 0.75px;
  line-height: normal;
  background-color: #ffffff;
}

.top120 {
  position: absolute;
  top: 120px;
}

.top685 {
  position: absolute;
  top: 685px;
}

.top406 {
  position: absolute;
  top: 406px;
}

.left580 {
  position: absolute;
  left: 580px;
}
/*# sourceMappingURL=main.css.map */